
mysqldump/*
env/*
html/backups/*


*-BACKUP*
ion_auth_userguide*
user_guide*
application/sql/mongo*

images/*
!images/example*


# Codeigniter files

# all
*/application/config/*

# ...or file by file
html/application/config/*.zip
html/application/config/database.php
html/application/config/config.php
html/application/config/mongodb.php
html/application/config/mongodb_session.php

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

# Internal

TODO_private.txt
pinna-tietosuojaseloste.pdf

# Misc

.DS_Store
Thumbs.db
web.config
